<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Page</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'polls/style_index.css' %}">
</head>
<body>
    <div class="link_btn">
        <a href="{% url 'polls:vote' 1 %}">Głosuj</a>
    </div>
    <div class="link_btn">
    <a href="{% url 'polls:results' %}">Wyniki</a>
    </div>
</body>
</html>