body {
    color: var(--color-fg);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5%;
}

.header {
    background-color: var(--color-bg-alt);
    width: 100%;
    height: 7ch;
}

.header h2 {
    font-size: 3em;
    margin: 2px 15px;
    white-space: nowrap;
}

.chart {
    background-color: var(--color-bg-alt);
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}